.contacts-list {

  &-item {

    &--phone {

      a {
        padding-left: 35px;

        &::before {
          width: 25px;
          height: 35px;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjQgMzAiPjxwYXRoIGZpbGw9IiNmZmJkNjkiIGQ9Ik0xNS40LDEuOEg4LjZDNywxLjgsNS43LDMsNS43LDQuNnYxNC44YzAsMS42LDEuMywyLjgsMi44LDIuOGg2LjhjMS42LDAsMi44LTEuMywyLjgtMi44VjQuNkMxOC4zLDMsMTcsMS44LDE1LjQsMS44eiBNMTcuMSwxOS40YzAsMC45LTAuOCwxLjctMS43LDEuN0g4LjZjLTAuOSwwLTEuNy0wLjgtMS43LTEuN1Y0LjZjMC0wLjksMC44LTEuNywxLjctMS43aDYuOGMwLjksMCwxLjcsMC44LDEuNywxLjdWMTkuNHoiLz4gICAgICAgIDxjaXJjbGUgZmlsbD0iI2ZmYmQ2OSIgY3g9IjEyIiBjeT0iMTkuNCIgcj0iMS4xIi8+ICAgICAgICA8cGF0aCBmaWxsPSIjZmZiZDY5IiBkPSJNMTMuMSwzLjVoLTIuM2MtMC4zLDAtMC42LDAuMy0wLjYsMC42czAuMywwLjYsMC42LDAuNmgyLjNjMC4zLDAsMC42LTAuMywwLjYtMC42UzEzLjQsMy41LDEzLjEsMy41eiIvPjwvc3ZnPg==);
        }
      }
    }


    a {
      position: relative;
      display: block;
      color: #fff;
      font-family: $headings-font-family;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &:hover {
        color: $primary;
      }
    }
  }
}

.custom-list {

  li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 3px;
      height: 13px;
    }
  }

  &--primary {

    li {

      &::before {
        background: $primary;
      }
    }
  }
}

.info-car {
  margin-bottom: 20px;

  &-item {

    &__title {
      font-size: 14px;
      margin-right: 5px;
      color: #888888;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        font-size: $font-size-base;
      }
    }

    &__value {

      &--price {
        margin-left: 10px;
        font-size: 18px;
        font-family: $headings-font-family;
        font-weight: bold;

        @media (min-width: map_get($grid-breakpoints, sm)) {
          font-size: 24px;
        }
      }
    }

    &--price {
      margin-top: 20px;

      .info-car-price {
        font-family: $headings-font-family;
        margin-left: 5px;
      }
    }
  }
}