@import "config/variables";
@import "config/placeholders";

@import "~bootstrap/scss/bootstrap";

@import "base/body";
@import "base/btn";
@import "base/layout";

@import "modules/menu";
@import "modules/forms";
@import "modules/modal";
@import "modules/vidoe";

@import "layout/header";
@import "layout/intro";
@import "layout/feedback";
@import "layout/about";
@import "layout/questions";
@import "layout/catalog";
@import "layout/reviews";
@import "layout/contacts";
@import "layout/footer";

@import "layout/page-thanks";
