.catalog-card {
  overflow: hidden;
  position: relative;
  transition: .5s;

  &-header {
    overflow: hidden;

    .img {
      height: 350px;
      @extend %img;
      transform: scale(1);
      transition: .8s;
    }
  }

  &-body {

    .content {
      border: 1px solid #E0E0E1;

      .prev {
        display: flex;

        .img {
          position: relative;
          width: 50%;
          height: 120px;
          border: 1px solid #E0E0E1;
          border-left: none;
          border-right: none;
          @extend %img;

          &:first-of-type {
            border-right: 1px solid #E0E0E1;
          }

          &-video {
            cursor: pointer;

            .play-video {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .info-car {
        padding: 30px 35px;
        margin-bottom: 15px;

        .title {
          color: $primary;
        }

        &-item {

          &--price {
            margin-top: 15px;
          }
        }
      }
    }
  }

  &-footer {
    display: flex;

    .btn {
      display: flex;
      width: 50%;
    }
  }

  &::before {
    content: '';
    @extend %pos;
    bottom: auto;
    height: 4px;
    width: 0;
    background: $primary;
    transition: .5s;
    z-index: 5;
  }

  &:hover {
    box-shadow: 0px 7px 50px 10px rgba(0, 0, 0, 0.3);

    .catalog-card-header {

      .img {
        transform: scale(1.2);
      }
    }

    &::before {
      width: 100%;
    }
  }

}