#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $dark;
  transition: 1s 0.4s;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 55px;
    background-size: contain;
  }
}

#progress {
  height: 2px;
  background: $primary;
  position: absolute;
  width: 0;
  bottom: 40px;
}

#progstat {
  font-family: $headings-font-family;
  letter-spacing: 3px;
  line-height: 1;
  position: absolute;
  padding-left: 15px;
  bottom: 37px;
  color: #fff;
}